.footer {
    width: 100%;
    background-color: #355592;
    margin-top: 60px;
    color: white; /* Footer genel yazı rengi */
  }
  
  .footer-logo {
    margin-bottom: 20px;
    text-align: left; /* Hem PC hem de mobilde sola hizalama */
  }
  
  .footer-logo img {
    max-width: 300px;
    height: auto;
  }
  
  .footer-description {
    margin-bottom: 20px;
  }
  
  ul.list-unstyled {
    padding: 0;
  }
  
  ul.list-unstyled li {
    margin: 5px 0;
  }
  
  ul.list-unstyled li a {
    color: white; /* Bağlantı rengi */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul.list-unstyled li a:hover {
    color: #a1c4fd; /* Hover rengini değiştirebilirsiniz */
  }
  
  @media (max-width: 576px) {
    .footer-logo img {
      max-width: 200px;
    }
  
    .col-md-6, .col-md-12 {
      text-align: center;
    }
  }
  